<?xml version="1.0"?>

<robot name="pioneer2dx_sensors" xmlns:xacro="http://www.ros.org/wiki/xacro">


  <link name="base_scan">
    <xacro:default_inertial mass="0.1"/>

    <visual>
      <origin xyz="0 0 0.0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://turtlebot3_description/meshes/sensors/lds.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </visual>

    <collision>
      <origin xyz="0.015 0 -0.0080" rpy="0 0 0"/>
      <geometry>
        <cylinder length="0.0315" radius="0.055"/>
      </geometry>
    </collision>
  </link>

  <link name="bumper_link">
  <xacro:default_inertial mass="0.2"/>
  <visual>
    <origin xyz="0.21 0 0.05" rpy="0 0 0"/>
    <geometry>
      <box size="0.03 0.3 0.05"/>
    </geometry>
    <material name="green"><color rgba="0.4 0.4 0.4 1"/></material>
  </visual>
  <collision>
    <origin xyz="0.19 0 0.05" rpy="0 0 0"/>
    <geometry>
      <box size="0.03 0.3 0.05"/>
    </geometry>
  </collision>
</link>


</robot>
