<?xml version="1.0"?>

<robot name="pioneer2dx" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find pioneer_robot)/urdf/pioneer2.gazebo.xacro"/>
  <xacro:arg name="laser_visual" default="false"/>


  <xacro:property name="r200_cam_rgb_px" value="0.005"/>
  <xacro:property name="r200_cam_rgb_py" value="0.018"/>
  <xacro:property name="r200_cam_rgb_pz" value="0.013"/>
  <xacro:property name="r200_cam_depth_offset" value="0.01"/>


  <material name="blue">
    <color rgba="0 0 0.8 1"/>
  </material>

  <material name="dark_gray">
    <color rgba="0.66 0.66 0.66 1"/>
  </material>


  <xacro:macro name="inertial_macro" params="mass">
	  <inertial>
	    <mass value="${mass}" />
      	  <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0" />
      </inertial>
  </xacro:macro>


  <xacro:macro name="base_macro">
			<origin xyz="-0.045 0 0.145" rpy="0 0 0" />
			<geometry>
				<mesh filename="package://pioneer_robot/meshes/chassis.dae"/>
			</geometry>
  </xacro:macro>


	<link name="base_link">
		<xacro:inertial_macro mass="1"/>
		<visual>
    	<xacro:base_macro/>
		</visual>
		<collision>
    	<xacro:base_macro/>
		</collision>
	</link>


    <link name="caster_horizontal_link">
    <xacro:inertial_macro mass="1.0"/>
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
        <cylinder radius="0.02" length="0.01"/>
        </geometry>
        <material name="dark_gray"/>
    </visual>
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
            <sphere radius="0.04"/>
        </geometry>
    </collision>
    </link>

    <joint name="caster_horizontal_joint" type="continuous">
    <origin xyz="0.15 0 -0.03" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="caster_horizontal_link"/>
    <axis xyz="0 0 1"/>
    </joint>

    <link name="caster_vertical_link">
  <xacro:inertial_macro mass="0.3"/>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <sphere radius="0.06"/>
    </geometry>
    <material name="dark_gray"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <sphere radius="0.04"/>
    </geometry>
  </collision>
    </link>

    <joint name="caster_vertical_joint" type="continuous">
    <origin xyz="0 0 0" rpy="0 ${-3.1415/2} 0"/>
    <parent link="caster_horizontal_link"/>
    <child link="caster_vertical_link"/>
    <axis xyz="0 1 0"/>
    </joint>


    	<xacro:macro name="wheel" params="suffix flag">
	
		<link name="${suffix}_wheel">
			<xacro:inertial_macro mass="1"/>
			<visual>
				<origin xyz="0 0 0" rpy="${-3.1415/2} 0 0" />
				<geometry>
					<cylinder radius="0.13" length="0.05" />
				</geometry>
				<material name="dark_gray"/>
			</visual>

			<collision>
				<origin xyz="0 0 0" rpy="${-3.1415/2} 0 0" />
				<geometry>
					<cylinder radius="0.12" length="0.1" />
				</geometry>
			</collision>
		</link>

		<joint name="${suffix}_wheel_joint" type="continuous">
			<axis xyz="0 1 0" />
			<origin xyz="-0.12 ${flag*0.20} 0.091" rpy="0 0 0" />
			<parent link="base_link" />
			<child link="${suffix}_wheel" />
		</joint>

	</xacro:macro>






  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="-0.032 0 0.068" rpy="0 0 0"/>
  </joint>

    <link name="imu_link"/>

    <link name="camera_link">
    <visual>
     <origin xyz="0 0 0" rpy="1.57 0 1.57"/>
      <geometry>
       <mesh filename="package://pioneer_robot/meshes/r200.dae" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0.010 0.030 0.007" rpy="0 0 0"/>
      <geometry>
        <box size="0.012 0.132 0.020"/>
      </geometry>
    </collision>
   </link>

  <joint name="camera_joint" type="fixed">
    <origin xyz="0.125 0 0.225" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="camera_link"/>
  </joint>
    
  <joint name="camera_rgb_joint" type="fixed">
    <origin xyz="${r200_cam_rgb_px} ${r200_cam_rgb_py} ${r200_cam_rgb_pz}" rpy="0 0 0"/>
    <parent link="camera_link"/>
    <child link="camera_rgb_frame"/>
  </joint>
  <link name="camera_rgb_frame"/>

  <joint name="camera_rgb_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
    <parent link="camera_rgb_frame"/>
    <child link="camera_rgb_optical_frame"/>
  </joint>
  <link name="camera_rgb_optical_frame"/>

  <joint name="camera_depth_joint" type="fixed">
    <origin xyz="${r200_cam_rgb_px} ${r200_cam_rgb_py + r200_cam_depth_offset} ${r200_cam_rgb_pz}" rpy="0 0 0"/>
    <parent link="camera_link"/>
    <child link="camera_depth_frame"/>
  </joint>
  <link name="camera_depth_frame"/>

  <joint name="camera_depth_optical_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-1.57 0 -1.57"/>
    <parent link="camera_depth_frame"/>
    <child link="camera_depth_optical_frame"/>
  </joint>
  <link name="camera_depth_optical_frame"/>

<xacro:wheel suffix="left" flag="1"/>
<xacro:wheel suffix="right" flag="-1"/>

</robot>
