<robot name="pioneer2dx_trans" xmlns:xacro="http://ros.org/wiki/xacro">

<transmission name="left_wheel_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <actuator name="left_wheel_motor">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
  <joint name="left_wheel_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
</transmission>

<transmission name="right_wheel_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <actuator name="right_wheel_motor">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
  <joint name="right_wheel_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
</transmission>

<transmission name="caster_swivel_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <actuator name="caster_motor">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
  <joint name="caster_vertical_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
</transmission>

<transmission name="caster_horiz_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <actuator name="caster_horiz_motor">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
  <joint name="caster_horizontal_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
</transmission>


<gazebo reference="caster_horizontal_link">
  <material>Gazebo/Green</material>
  <!-- <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>1000000.0</kp>
  <kd>1.0</kd>
  <minDepth>0.001</minDepth> -->
</gazebo>

<gazebo reference="caster_vertical_link">
  <material>Gazebo/Green</material>
  <!-- <mu1>0.1</mu1>
  <mu2>0.1</mu2>
  <kp>1000000.0</kp>
  <kd>1.0</kd>
  <minDepth>0.001</minDepth> -->
</gazebo>


</robot>